
<!-- Default Setting -->
{% extends 'base.html' %}

<!-- Head Conponents -->
{% block head %}
   
    <title>Image Upload</title>
{% endblock %}


<!-- Head Conponents -->
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Upload Image</h1>
                <hr>
                <form action="/upload-image" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Select Image</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="image" id="image">
                            <label class="custom-file-label" for="image">Select Image...</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Upload Image</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        $('#image').on('change',function(){
            //get the file name
            var fileName = $(this).val().replace('C:\\fakepath\\', " ");
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
      </script>
{% endblock %}

