
<!-- Default Setting -->
{% extends 'base02.html' %}

<!-- Head Conponents -->
{% block head %}
  <title>Lemon Plant [Disease Advice]</title>

  <style>

    body{
        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }

    .bg-custom-image {

        background-image: url("{{ url_for('static' , filename='asset/image/Mango/mango1.jpg') }}");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-position-y: 60%;
        background-position-x: 20%;

      }

    .custom-container{
        position: relative;
        top: -25vh;
        
    }

    /* Style the form */
    

    /* Hide all steps by default*/
    .tab{
        display: none;
    }


    .funkyradio div {
        clear: both;
        overflow: hidden;
    }

    .funkyradio label {
        width: 100%;
        border-radius: 3px;
        border: 1px solid #D1D3D4;
        font-weight: normal;
    }

    .funkyradio input[type="radio"]:empty{
        display: none;
    }

    .funkyradio input[type="radio"]:empty ~ label{
        position: relative;
        line-height: 2.5em;
        text-indent: 3.25em;
        margin-top: 2em;
        cursor: pointer;
        -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }

    .funkyradio input[type="radio"]:empty ~ label:before{
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        content: '';
        width: 2.5em;
        background: #D1D3D4;
        border-radius: 3px 0 0 3px;
    }

    .funkyradio input[type="radio"]:hover:not(:checked) ~ label{
        color: #888;
    }

    .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before{
        content: '\2714';
        text-indent: .9em;
        color: #C2C2C2;
    }

    .funkyradio input[type="radio"]:checked ~ label{
        color: #777;
    }

    .funkyradio input[type="radio"]:checked ~ label:before{
        content: '\2714';
        text-indent: .9em;
        color: #333;
        background-color: #ccc;
    }

    .funkyradio input[type="radio"]:focus ~ label:before{
        box-shadow: 0 0 0 3px #999;
    }

    .funkyradio-default input[type="radio"]:checked ~ label:before{
        color: #333;
        background-color: #ccc;
    }


    .funkyradio-success input[type="radio"]:checked ~ label:before{
        color: #fff;
        background-color: #5cb85c;
    }

    .funkyradio-danger input[type="radio"]:checked ~ label:before{
        color: #fff;
        background-color: #d9534f;
    }
    
    .fade-in {
	-webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-30 16:41:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  </style>

{% endblock %}
<!-- Head Conponents -->


{% block body %}
<div class="container-fluid bg-custom-image m-0 p-0 shadow-lg">
    <nav class="navbar navbar-light">
      <a class="navbar-brand text-white" href="/">Plantopedia</a>
      <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarsExample01"
        aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item pl-2">
              <a class="nav-link text-white" href="/leaf_recognition">Leaf Recognition<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active pl-2" style="background-color: white; color: #38603D; border-radius: 5px;">
              <a class="nav-link active" href="/plant_disease_advice">Plant Disease Advice</a>
            </li>
            <li class="nav-item pl-2">
              <a class="nav-link text-white" href="/plant_information">Plant Information</a>
            </li>
          </ul>
    
      </div>
    </nav>

    <div class="container-fluid" style="height: 60vh;">
        <div class="row" style="height: 80%;">
            <div class="col-md-6 pl-5 py-5" >
                <h1 class="pt-3 text-white pt-5" style="font-size: 48px;"><b>Lemon</b> Plant</h1>
                <h3 class="text-white">Disease Advice</h3>
            </div>
        </div>   
    </div>
</div>

<div class="container custom-container ">
    <div class="container-fluid h-100 bg-light" >
        <div class="container py-4 h-100">
            {% if viewData == "Algal Leaf Spot" %}
                    <div class="row">
                        <div class="col-9 align-center">
                            <h4></h4>
                            <h1 style="font-size: 48px;" class="align-middle">{{ viewData }}</h1>
                            <h5 class="text-grey">{{ confidencePercentage }} <span>% Possible</span> </h5>         
                        </div>
                        <div class="col-3">
                            <img src="{{ url_for('static' , filename='asset/image/PlantDiseaseAdvice/mango/Algal Leaf Spot/3.jpg') }}" alt="Image" class="w-75 rounded float-right">
                        </div>
                    </div>
                <hr>
                <h3>Ways to control:</h3>
                <ol>
                    <li><p>Ensure that trees are properly pruned and fertilized to promote vigor</p></li>
                    <li><p>Remove all weeds from around tree bases</p></li>
                    <li><p>Employ a wider tree spacing to increase air circulation around the trees</p></li>
                    <li><p>Badly infested trees can be treated with copper containing fungicides</p></li>
                    <li><p>Avoid waterlogged soils through improved drainage.</p></li>
                    <li><p>Irrigate early in the day to ensure rapid drying of the foliage.</p></li>
                    <li><p>Apply sprays containing potassium phosphate.</p></li>
                    <li><p>Avoid lesions caused by mechanic tools.</p></li>
                </ol>
            {% endif %}
            {% if viewData == "Phoma Blight" %}
            <div class="row">
                        <div class="col-9 align-center">
                            <h4></h4>
                            <h1 style="font-size: 48px;" class="align-middle">{{ viewData }}</h1>
                            <h5 class="text-grey">{{ confidencePercentage }} <span>% Possible</span> </h5>         
                        </div>
                        <div class="col-3">
                            <img src="{{ url_for('static' , filename='asset/image/PlantDiseaseAdvice/mango/Phoma Blight/3.jpg') }}" alt="Image" class="w-75 rounded float-right">
                        </div>
                    </div>
                <hr>
                <h3>Ways to control:</h3>
                <br>
                <ol>
                    <li><p>Keeping the mango properly fed and healthy helps prevent phoma blight, as well as keeping the area under the tree clean, removing falling foliage and fruit.</p></li>
                    <li><p>When watering, try to keep the wet soil from splashing on the tree.</p></li>
                    <li><p>Treat infected trees with a copper fungicide, making sure to cover all surfaces of the tree when spraying. Repeat the treatment every 14 to 20 days.</p></li>
                    <li><p>Thoroughly clean storage facilities to avoid fungal growth under storage. </p></li>                    
                </ol>
            {% endif %}
            {% if viewData == "Powdery Mildew" %}
                    <div class="row">
                        <div class="col-9 align-center">
                            <h4></h4>
                            <h1 style="font-size: 48px;" class="align-middle">{{ viewData }}</h1>
                            <h5 class="text-grey">{{ confidencePercentage }} <span>% Possible</span> </h5>         
                        </div>
                        <div class="col-3">
                            <img src="{{ url_for('static' , filename='asset/image/PlantDiseaseAdvice/mango/Powdery Mildew/2.jpg') }}" alt="Image" class="w-75 rounded float-right">
                        </div>
                    </div>
                <hr>
                <h3>Ways to control:</h3>
                <br>
                <ol>
                    <li><p>Plant resistant cultivars in sunny locations whenever possible.</p></li>
                    <li><p>Prune or stake plants to improve air circulation. Make sure to disinfect your pruning tools (one part bleach to 4 parts water) after each cut.</p></li>
                    <li><p>Remove diseased foliage from the plant and clean up fallen debris on the ground.</p></li>
                    <li><p>Use a thick layer of mulch or organic compost to cover the soil after you have raked and cleaned it well. Mulch will prevent the disease spores from splashing back up onto the leaves.</p></li>
                    <li><p>Milk sprays, made with 40% milk and 60% water, are an effective home remedy for use on a wide range of plants. For best results, spray plant leaves as a preventative measure every 10-14 days.</p></li>
                    <li><p>Wash foliage occasionally to disrupt the daily spore-releasing cycle. Neem oil and PM Wash, used on a 7 day schedule, will prevent fungal attack on plants grown indoors.</p></li>
                    <li><p>Water in the morning, so plants have a chance to dry during the day. Drip irrigation and soaker hoses will help keep the foliage dry.</p></li>
                    <li><p>Use a slow-release, organic fertilizer on crops and avoid excess nitrogen. Soft, leafy, new growth is most susceptible.</p></li>
                    <li><p>Destroy all plant debris after harvest (see Fall Garden Cleanup). Do NOT compost.</p></li>                    
                </ol>
            {% endif %}
            {% if viewData == "Sooty Mold" %}
                    <div class="row">
                        <div class="col-9 align-center">
                            <h4></h4>
                            <h1 style="font-size: 48px;" class="align-middle">{{ viewData }}</h1>
                            <h5 class="text-grey">{{ confidencePercentage }} <span>% Possible</span> </h5>         
                        </div>
                        <div class="col-3">
                            <img src="{{ url_for('static' , filename='asset/image/PlantDiseaseAdvice/mango/Sooty Mold/1.jpg') }}" alt="Image" class="w-75 rounded float-right">
                        </div>
                    </div>
                <hr>
                <h3>Ways to control:</h3>
                <br>
                <ol>
                    <li><p>If plants are small wash mold with strong stream of water</p></li>
                    <li><p>Spraying starch also removes sooty mold </p></li>
                    <li><p>Control sap sucking insects </p></li>
                    <li><p>Keep the trees free from ants by applying a sticky compound around the trunk </p></li>
                    <li><p>Make sure to provide enough distance between the plants or trees and sufficient sunlight. </p></li>
                    <li><p>Fertilize and water the trees sufficiently to ensure an optimal natural resistance of the trees to phloem-feeding parasites.</p></li>
                </ol>
            {% endif %}

            {% if viewData == "No Disease Found [Mango]" %}
                    <div class="row">
                        <div class="col-9 align-center">
                            <h4></h4>
                            <h1 style="font-size: 48px;" class="align-middle">{{ viewData }}</h1>
                            <h5 class="text-grey">Please contact with  Botanist</h5>         
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                <hr>
                
            {% endif %}
            <!--
            <h3>Question 1 : <span>{{ ques1 }}</span></h3>
            <h3>Question 2 : <span>{{ ques2 }}</span></h3>
            <h3>Question 3 : <span>{{ ques3 }}</span></h3>
            <h3>Question 4 : <span>{{ ques4 }}</span></h3>
            <h3>Question 5 : <span>{{ ques5 }}</span></h3>
            <h3>Question 6 : <span>{{ ques6 }}</span></h3>
            <h3>Question 7 : <span>{{ ques7 }}</span></h3>
            <h3>Question 8 : <span>{{ ques8 }}</span></h3>
            <h3>Question 9 : <span>{{ ques9 }}</span></h3>
            <h3>Question 10 : <span>{{ ques10 }}</span></h3>
            -->

            <a href="/plant_disease_advice" class="btn btn-lg btn-block btn-success mt-5 mb-3">Back to Plant Disease Advice Menu</a>
        </div>
    </div>
</div>



{% endblock %}


