
<!-- Default Setting -->
{% extends 'base01.html' %}

<!-- Head Conponents -->
{% block head %}
    <title>Noni Plant [Disease Advice]</title>

  <style>

    body{
        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }
    .bg-custom-image {

      background-image: url("{{ url_for('static' , filename='asset/image/PlantInformation/noni.jpg') }}");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-position-y: 60%;
      background-position-x: 20%;

      }

    .custom-container{
        position: relative;
        top: -25vh;
        
    }

    /* Style the form */
    

    /* Hide all steps by default*/
    .tab{
        display: none;
    }


    .funkyradio div {
        clear: both;
        overflow: hidden;
    }

    .funkyradio label {
        width: 100%;
        border-radius: 3px;
        border: 1px solid #D1D3D4;
        font-weight: normal;
    }

    .funkyradio input[type="radio"]:empty{
        display: none;
    }

    .funkyradio input[type="radio"]:empty ~ label{
        position: relative;
        line-height: 2.5em;
        text-indent: 3.25em;
        margin-top: 2em;
        cursor: pointer;
        -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }

    .funkyradio input[type="radio"]:empty ~ label:before{
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        content: '';
        width: 2.5em;
        background: #D1D3D4;
        border-radius: 3px 0 0 3px;
    }

    .funkyradio input[type="radio"]:hover:not(:checked) ~ label{
        color: #888;
    }

    .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before{
        content: '\2714';
        text-indent: .9em;
        color: #C2C2C2;
    }

    .funkyradio input[type="radio"]:checked ~ label{
        color: #777;
    }

    .funkyradio input[type="radio"]:checked ~ label:before{
        content: '\2714';
        text-indent: .9em;
        color: #333;
        background-color: #ccc;
    }

    .funkyradio input[type="radio"]:focus ~ label:before{
        box-shadow: 0 0 0 3px #999;
    }

    .funkyradio-default input[type="radio"]:checked ~ label:before{
        color: #333;
        background-color: #ccc;
    }


    .funkyradio-success input[type="radio"]:checked ~ label:before{
        color: #fff;
        background-color: #5cb85c;
    }

    .funkyradio-danger input[type="radio"]:checked ~ label:before{
        color: #fff;
        background-color: #d9534f;
    }
    
    .fade-in {
	-webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-30 16:41:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  </style>

{% endblock %}
<!-- Head Conponents -->


{% block body %}
<div class="container-fluid bg-custom-image m-0 p-0 shadow-lg">
    <nav class="navbar navbar-light">
      <a class="navbar-brand text-white" href="/">Plantopedia</a>
      <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarsExample01"
        aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item pl-2">
              <a class="nav-link text-white" href="/leaf_recognition">Leaf Recognition<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active pl-2" style="background-color: white; color: #38603D; border-radius: 5px;">
              <a class="nav-link active" href="/plant_disease_advice">Plant Disease Advice</a>
            </li>
            <li class="nav-item pl-2">
              <a class="nav-link text-white" href="/plant_information">Plant Information</a>
            </li>
          </ul>
    
      </div>
    </nav>

    <div class="container-fluid" style="height: 60vh;">
        <div class="row" style="height: 80%;">
            <div class="col-md-6 pl-5 py-5" >
                <h1 class="pt-3 text-white pt-5" style="font-size: 48px;"><b>Noni</b> Plant</h1>
                <h3 class="text-white">Disease Advice</h3>
            </div>
        </div>   
    </div>
</div>

<div class="container custom-container" style="height: 50vh;">
    <div class="container-fluid h-100 bg-light" >
        <div class="container pt-4 h-100">
            <form action="/plant_disease_advice/noni" method="post" id="regForm" class="h-100">

                <!-- Question 1 TAB -->
                <div class="tab fade-in">
                    <div class="form-group">
                        <h3>Does the plant have black leaf spots and leaf veins or stem blight ?</h3>
                        <hr>
                        <!--
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ques1" id="yes_q1" value="yes">
                            <label class="form-check-label" for="yes_q1">
                            Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ques1" id="no_q1" value="no">
                            <label class="form-check-label" for="no_q1">
                            No
                            </label>
                        </div>
                        -->
                        <div class="col-md-6">
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input type="radio" name="ques1" id="yes_q1" value="yes" />
                                    <label for="yes_q1">Yes</label>
                                </div>
                                <div class="funkyradio-danger">
                                    <input type="radio" name="ques1" id="no_q1" value="no" />
                                    <label for="no_q1">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Question 2 TAB -->
                <div class="tab fade-in">
                    <div class="form-group">
                        <h3>Are there brown to black soft rot of fruits ?</h3>
                        <hr>
                        <div class="col-md-6">
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input type="radio" name="ques2" id="yes_q2" value="yes" />
                                    <label for="yes_q2">Yes</label>
                                </div>
                                <div class="funkyradio-danger">
                                    <input type="radio" name="ques2" id="no_q2" value="no" />
                                    <label for="no_q2">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Question 3 TAB -->
                <div class="tab fade-in">
                    <div class="form-group">
                        <h3>Does the plant display severe defoliation and death of stem ? (hanging and diseased leaves)</h3>
                        <hr>
                        <div class="col-md-6">
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input type="radio" name="ques3" id="yes_q3" value="yes" />
                                    <label for="yes_q3">Yes</label>
                                </div>
                                <div class="funkyradio-danger">
                                    <input type="radio" name="ques3" id="no_q3" value="no" />
                                    <label for="no_q3">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Question 4 TAB -->
                <div class="tab fade-in">
                    <div class="form-group">
                        <h3>Are there visible light brown color spots surrounded by a conspicuous, diffuse, yellow halos?</h3>
                        <hr>
                        <div class="col-md-6">
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input type="radio" name="ques4" id="yes_q4" value="yes" />
                                    <label for="yes_q4">Yes</label>
                                </div>
                                <div class="funkyradio-danger">
                                    <input type="radio" name="ques4" id="no_q4" value="no" />
                                    <label for="no_q4">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Question 5 TAB -->
                <div class="tab fade-in">
                    <div class="form-group">
                        <h3>Does the plant have visible pathogens on the upper surface and forms a filamentous thallus above the epidermis which moves intercellularly to the lower leaf surface?</h3>
                        <hr>
                        <div class="col-md-6">
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input type="radio" name="ques5" id="yes_q5" value="yes" />
                                    <label for="yes_q5">Yes</label>
                                </div>
                                <div class="funkyradio-danger">
                                    <input type="radio" name="ques5" id="no_q5" value="no" />
                                    <label for="no_q5">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Question 6 TAB -->
                <div class="tab fade-in">
                    <div class="form-group">
                        <h3>Does the plant have large expanding leaf spots with dark to tan centers and diffuse, irregular margins?</h3>
                        <hr>
                        <div class="col-md-6">
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input type="radio" name="ques6" id="yes_q6" value="yes" />
                                    <label for="yes_q6">Yes</label>
                                </div>
                                <div class="funkyradio-danger">
                                    <input type="radio" name="ques6" id="no_q6" value="no" />
                                    <label for="no_q6">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Question 7 TAB -->
                <div class="tab fade-in">
                    <div class="form-group">
                        <h3>Do the lesions expand and the concentric rings become visible in the lesions as the lesions grow each day?</h3>
                        <hr>
                        <div class="col-md-6">
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input type="radio" name="ques7" id="yes_q7" value="yes" />
                                    <label for="yes_q7">Yes</label>
                                </div>
                                <div class="funkyradio-danger">
                                    <input type="radio" name="ques7" id="no_q7" value="no" />
                                    <label for="no_q7">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Question 8 TAB -->
                <div class="tab fade-in">
                    <div class="form-group">
                        <h3>Do the lesions coalesce to form large, blighted areas on leaves, often at leaf margins?</h3>
                        <hr>
                        <div class="col-md-6">
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input type="radio" name="ques8" id="yes_q8" value="yes" />
                                    <label for="yes_q8">Yes</label>
                                </div>
                                <div class="funkyradio-danger">
                                    <input type="radio" name="ques8" id="no_q8" value="no" />
                                    <label for="no_q8">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Question 9 TAB -->
                <div class="tab fade-in">
                    <div class="form-group">
                        <h3>"Does the injured tissue takes on a silvery or bleached appearance and eventually turn bleached and then dark brown color?</h3>
                        <hr>
                        <div class="col-md-6">
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input type="radio" name="ques9" id="yes_q9" value="yes" />
                                    <label for="yes_q9">Yes</label>
                                </div>
                                <div class="funkyradio-danger">
                                    <input type="radio" name="ques9" id="no_q9" value="no" />
                                    <label for="no_q9">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Question 10 TAB -->
                <div class="tab fade-in">
                    <div class="form-group">
                        <h3>Do large lesions develop on leaves, with bleached centers and irregular margins?</h3>
                        <hr>
                        <div class="col-md-6">
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input type="radio" name="ques10" id="yes_q10" value="yes" />
                                    <label for="yes_q10">Yes</label>
                                </div>
                                <div class="funkyradio-danger">
                                    <input type="radio" name="ques10" id="no_q10" value="no" />
                                    <label for="no_q10">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Question 11 TAB -->
                <div class="tab fade-in">
                    <div class="form-group">
                        <h3>Does the plant have yellow, chlorotic areas surrounded or associated with visible lesions?</h3>
                        <hr>
                        <div class="col-md-6">
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input type="radio" name="ques11" id="yes_q11" value="yes" />
                                    <label for="yes_q11">Yes</label>
                                </div>
                                <div class="funkyradio-danger">
                                    <input type="radio" name="ques11" id="no_q11" value="no" />
                                    <label for="no_q11">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div style="position: absolute;bottom: 5vh;right: 10vh;">
                    <button type="button" id="prevBtn" class="btn btn-primary"  onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" class="btn btn-primary" onclick="nextPrev(1)">Next</button>
                </div>
                

                
            </form>

        </div>
    </div>
</div>



<script>
    var currentTab = 0;     // Current tab is set to be the first tab(0)
    showTab(currentTab);    // Display the current tab

    function showTab(n) {
        // This function will display the specified tab of the form
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block" 
        // and fix the Previous/Next buttons :
        if(n == 0){
            document.getElementById("prevBtn").style.display = "none";
        }else {
            document.getElementById("prevBtn").style.display = "inline";
        }

        if(n == (x.length - 1)){
            document.getElementById("nextBtn").innerHTML = "Submit";
        }else{
            document.getElementById("nextBtn").innerHTML = "Next";
        }

        
    }

    function nextPrev(n) {

        var x = document.getElementsByClassName("tab");
        if (n == 1 && !validateForm(currentTab)) return false;

        x[currentTab].style.display = "none";
        currentTab = currentTab + n;
        if (currentTab >= x.length){
            document.getElementById("regForm").submit();
            return false;
        }

        showTab(currentTab)

    }

    function validateForm(n){


    switch (n) {
        case 0:
            if(($("input[name='ques1']:checked").length === 0)){
                alert('Question 1');
                return false;
            }        
            return true;
            break;
        case 1:
            if(($("input[name='ques2']:checked").length === 0)){
                alert('Question 2');
                return false;
            }        
            return true;
            break;
        case 2:
            if(($("input[name='ques3']:checked").length === 0)){
                alert('Question 3');
                return false;
            }        
            return true;
            break;
        case 3:
            if(($("input[name='ques4']:checked").length === 0)){
                alert('Question 4');
                return false;
            }        
            return true;
            break;
        case 4:
            if(($("input[name='ques5']:checked").length === 0)){
                alert('Question 5');
                return false;
            }        
            return true;
            break;
        case 5:
            if(($("input[name='ques6']:checked").length === 0)){
                alert('Question 6');
                return false;
            }        
            return true;
            break;
        case 6:
            if(($("input[name='ques7']:checked").length === 0)){
                alert('Question 7');
                return false;
            }        
            return true;
            break;

        case 7:
            if(($("input[name='ques8']:checked").length === 0)){
                alert('Question 8');
                return false;
            }        
            return true;
            break;

        case 8:
            if(($("input[name='ques9']:checked").length === 0)){
                alert('Question 9');
                return false;
            }        
            return true;
            break;

       case 9:
            if(($("input[name='ques10']:checked").length === 0)){
                alert('Question 10');
                 return false;
            }        
            return true;
            break;

       case 10:
            if(($("input[name='ques11']:checked").length === 0)){
                alert('Question 11');
                 return false;
            }        
            return true;
            break;

        default:
            alert("Answer your question");
            break;
    }

    }





</script>


{% endblock %}


