<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Leaf Identification System</title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid text-center bg-success text-white">
      <div class="container">
        <h1 class="display-4">Leaf Identification System</h1>
        <p class="lead">You can start by uploading a leaf picture for our AI model to identify.</p>
      </div>
    </div>
    
    <div class="row" style="margin-top: -36px;">
      <div class="jumbotron col-lg-4 bg-info rounded">
        <h3 class="text-center text-white py-5">1. Try uploading a leaf picture..</h3>
        <form action="/image-upload" method="POST" enctype="multipart/form-data">
          <div class="form-group">
              <label class="text-white">Select image</label>
              <div class="custom-file">
                  <input type="file" class="custom-file-input" name="image" id="image">
                  <label class="custom-file-label" for="image">Select image...</label>
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Upload</button>
      </form>
      </div>
      <div class="jumbotron bg-primary rounded col-lg-4">
        {% if imgFileName %}
        <h3 class="text-center text-white">2. Your Image</h3>
        <!--<img class="rounded mx-auto d-block" style="height:250px;width:auto;" src="../uploads/bell_pepper_google2.jpg"/>-->
          <img class="rounded mx-auto d-block" style="height:250px;width:auto;" src="{{'uploads/'+imgFileName}}">
        {% endif %}
      </div>
      <div class="jumbotron bg-light rounded col-lg-4">
        <!--<h3 class="text-center text-success"><u>Hey! Thats a Bell Pepper Leaf!</u></h3>
        <h4 class="text-center">Red, Orange, and Yellow Bell Peppers are full of great health benefits—they're packed with vitamins and low in calories! They are an excellent source of vitamin A, vitamin C, and potassium. Bell Peppers also contain a healthy dose of fiber, folate, and iron.</h2>
        -->
        {% if class_label %}
          <h3 class="text-center text-success"><u>3. Hey! That's a {{class_label}} Leaf!</u></h3>
        {% if class_label == "Tomato" %}
            <h4 class="text-center">Tomatoes are the richest source of lycopene which is important for the health of the prostate gland in men. They were first brought to Europe in the mid 1500's. The first tomatoes in Europe were yellow varieties, the Italian for tomato is pomodoro and translates to golden apple. A tomato is a fruit.</h4>
        {% endif %}
        {% if class_label == "Potato" %}
            <h4 class="text-center">The potato is the most important non-cereal crop in the world, and fourth most important crop overall. Only corn, wheat, and rice are more important. In the US, potato products are the second most consumed food overall, trailing only dairy products. Potatoes are 80% water.</h4>
        {% endif %}
        {% if class_label == "Bell Pepper" %}
            <h4 class="text-center">Red, Orange, and Yellow Bell Peppers are full of great health benefits—they're packed with vitamins and low in calories! They are an excellent source of vitamin A, vitamin C, and potassium. Bell Peppers also contain a healthy dose of fiber, folate, and iron.</h4>
        {% endif %}
    {% endif %}
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>